name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  devsecops:
    runs-on: ubuntu-latest

    steps:
      # 0. Checkout
      - name: Checkout repository
        uses: actions/checkout@v3

      ############################################
      # 1. Analyse SAST avec CodeQL
      ############################################
      - name: Init CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: python

      - name: Run CodeQL Analysis
        uses: github/codeql-action/analyze@v3

      ############################################
      # 2. Analyse sécurité Python avec Bandit
      ############################################
      - name: Install Bandit
        run: pip install --no-cache-dir bandit

      - name: Run Bandit Scan
        run: bandit -r api --severity-level high --skip B101

      ############################################
      # 3. Build Docker sécurisé
      ############################################
      - name: Build Docker image
        run: docker build --no-cache -t devsecops-api ./docker

      ############################################
      # 4. Scan Docker avec Trivy
      ############################################
      - name: Trivy Scan
        uses: aquasecurity/trivy-action@v1
        with:
          scan-type: image
          image-ref: devsecops-api:latest
          severity: CRITICAL,HIGH
          exit-code: 1
          ignore-unfixed: true

      ############################################
      # 5. Optionnel : Audit CVE via docker scan
      ############################################
      - name: Docker Scan (optional)
        run: docker scan devsecops-api:latest --accept-license
